@import './../../assets/sass/lib/vars';

.case_category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.category{
    margin-right: .75rem;
    padding: .3125rem;
    border-radius: 50%;
}

.title {
    max-width: 14rem;
}

.red{
    background-color: $category_red;
}

.orange{
    background-color: $category_orange;
}

.green{
    background-color: $category_green;
}

.blue{
    background-color: $category_blue;
}

.purple{
    background-color: $category_purple;
}

.grey{
    background-color: $category_grey;
}