@import './../../assets/sass/lib/vars';

.chat {
    grid-area: chat;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.section_content {
    background-color: $bg_section3;
    height: 100%;
    overflow: auto;
}